body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;
}
.counter{
    font-size: 20px;
    margin-top: 20px;

}