body{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.s1{
    display: none;
}
.active{
    display: block;
    background-color: blueviolet;
}
button{
    width: 5rem;
    height: 2rem;

}
